venv/
__pycache__/
.env
*.pkl
node_modules/
datasets/raw/
datasets/augmented/
.DS_Store
*.pyc
dist/
build/
.vscode/
*.egg-info/
bert_model/
_extracted_plan.txt
.ipynb_checkpoints/
backend/models/bert_model/
